@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import '../themes/mixins';

.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    gap: 30px;
    

}


@include respond-to("small"){
    // h1 {
    //   font-size: $font-larger;
    // }
    // h2 {
    //   font-size: $font-large;
    // }
    // h3 {
    //   font-size: $font-medium;
    // }
    // h4 {
    //   font-size: $font-base;
    // }
    // h5 {
    //   font-size: $font-small;
    // }
    // h6 {
    //   font-size: $font-very-small;
    // }
    // p {
    //   font-size: $font-small;
    // }

    .stats-container{
      gap: 15px;
     
    }
                  
  }