@import '../themes/variables';

$header-height: 70px; // height of the header
$primary-bg: white;



header {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: $header-height;
  background-color: $primary-bg;
  position: fixed;
  width: calc(100% - 240px);
  top: 0;
  left:240px;
  border-bottom: 1px solid $border-gray;
  z-index: 1000;
  overflow: hidden;
}
