@import '../themes/variables';
@import '../themes/mixins';

$header-height: 70px; // height of the header
$primary-bg: white;



header {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: $header-height;
  background-color: $primary-bg;
  position: absolute;
  width: calc(100vw - 401px);
  top: 0;
  left:240px;
  border-bottom: 1px solid $border-gray;
  z-index: 1000;
  padding: 0 5rem;
  overflow: hidden;
}

@include respond-to("small"){
  header {
    padding: 0 3rem;
    
    width: calc(100vw - 337px);
  }
                
}