@import '../themes/variables';
@import '../themes/mixins';

.layout {
  background-color: $background-color;
  display: flex;
  flex-direction: row; 
  min-height: 100vh; 
  height: auto;
  
}
.content {
  margin-top: 70px; 
  margin-left: 240px; 
  height: auto;
  padding: 2rem 8rem;
  flex: 1;
}


@include respond-to("small"){
  .content {
    padding: 2rem 4rem;
  }
                
}