@import '../themes/variables';
@import '../themes/mixins';


.member-page-container{



    .member-page-header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0px  0 15px 0;
        position: relative;
       
       
      }

     

      .edit-delete-container-member-page{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }
}
