@import '../themes/variables';
@import '../themes/mixins';


.member-page-container{



    .member-page-header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px  0 15px 0;
        position: relative;
       
        .members-title{
            position: absolute;
            top: -10px;
            left: 0;
        }
      }
}
