@import '../themes/variables';
@import '../themes/mixins';
$sidebar-width: 240px;
$sidebar-bg: #444;
$sidebar-text-color: white;

.sidebar {
  width: $sidebar-width;
  background-color: $white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0; 
  left: 0;
  height: 100vh;
  border-right: 1px solid $border-gray;

  h2{
    margin:17px 0;
  }


  .logo {
    color: $primary-color;
    font-weight: $font-weight-extraBold;
  }
  
  .logo-span{
    color: $text-black-color;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {

      position: relative;

      a {
        color: $text-black-color;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        padding: 15px 35px 15px 35px;
        border-radius: 6px;
        transition: background-color 0.3s;
        font-size: $font-small;
        &:hover{
          // background-color: $background-color;

        }

        h6{
          margin: 0;
          font-weight: $font-weight-semiBold;
          font-size: $font-small;
          margin-left: 40px;
        }
      }

      &.menu-item-active a {
        background-color: $primary-color;
        color: $sidebar-text-color; 
      }
      .icon {
        position: absolute;
        left: 18px;
        width: 22px;
        height: 24px;
        color: #202224;
      }
      &.menu-item-active .icon {
        color: $white;
      }

      &::before {
        content: ""; 
        position: absolute;
        top: 50%;
        left: -50px;
        width: 40px; 
        height: 100%; 
        border-radius: 6px;
        background-color: $primary-color; 
        transform: translateY(-50%); 
        opacity: 0;
      }

      &:hover::before {
        background-color: $primary-color;
        opacity: 1;
      }

      &.menu-item-active::before{
        opacity: 1;
      }

      // @include respond-to("small"){
      //   &::before {
      //     left: -50px;
      //   }
      //   a {
      //     padding: 15px 35px 15px 35px;
      //   }
                      
      // }



    }



  }

  // @include respond-to("small"){
  //   .menu-item h6 {
  //     font-size: $font-small !important;
  //   }
                  
  // }


}
