
.too-samall-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets//blue-bg.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    color: #fff; 


}