@import '../themes/variables';
@import '../themes/mixins';


.data-table-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0;
    .data-table-page-navigation{
 
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        margin: 15px 0;
 

        .pagination-info{
            color: $text-gray-color;
        }

        .pagination-controls {
            display: flex;
            justify-content: center;
           
        
            button {
                padding: 8px 18px;
                border: 1px solid $border-gray;
                border-radius: 8px;
                background-color: $very-light-gray;
                color: $text-lighter-gray;
                font-weight: $font-weight-semiBold;
                cursor: pointer;

        
                &:disabled {
                    
                    color: $text-gray-color2;
                    cursor:auto;
                }
                &:not(:disabled):hover {
                    background-color: $hover-light-gray;
                    
                }

                &:last-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius:0;
                    border-left: 0;
                }
    
                &:first-child {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }



}
.data-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0px;
    border-radius: 14px;
    border: 1px solid #e0e0e0;
    overflow: hidden;

    thead {
        th {
            background-color: $very-light-gray;
            color: $text-lighter-black-color;
            font-weight: bold;
            text-align: left;
            padding: 15px 4px;
            border-bottom: 1px solid #e0e0e0;

            &:first-child {
                border-top-left-radius: 14px;
            }

            &:last-child {
                border-top-right-radius: 14px;
            }

            &.center {
                text-align: center;
            }
        }
    }

    tbody {
        td {
            color: $text-black-color;
            font-size: 14px;
            padding: 0 10px;
            border-bottom: 1px solid #e0e0e0;
            background-color: $white;
            width: auto;

            

            &.center {
                text-align: center;
            }

        }

        tr {
            height: 80px;
            &:last-child {
                td {
                    border-bottom: 0px; 
                }
            }
            &:hover {
                background-color: $very-light-gray;
            }
         
        }
    }
}

.daysOverdue {
    display: inline-block;
    width: 93px;
    padding: 4px 0px;
    border-radius: 4px;
    color: $white;
    font-weight: bold;
    text-align: center;

    &.red-warning {
        background-color: $status-backgroud-red;
        color: $status-text-red; 
    }

    &.yellow-warning {
        background-color: $status-backgroud-orange;
        color: $status-text-orange; 
    }

   
}

.remainingFree{
    display: inline-block;
    width: 106px;
    padding: 4px 0px;
    border-radius: 4px;
    color: $white;
    font-weight: bold;
    text-align: center;


    &.green-frame{
        color: $green; 
        background-color:$green-background;
    }
    &.red-frame{
        color: $red; 
        background-color:$red-background;
    }
}


.no-data h2{
    margin-top: 20px;
    color: $text-gray-color;
}