@import '../themes/variables';
@import '../themes/mixins';

.btn-deatails-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.btn-details-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-lend-book {
    @include blue-btn(93px, 6px 0px)
}
.btn-return-book{
    @include white-blue-bordered-btn(93px, 4px 0px)
}

.btn-edit{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    
    .btn-icon img {
        width: 18px; 
        height: 18px;
    }
    .btn-icon-only:hover img {
        opacity: 0.8; 
      }
  
}