@import '../themes/variables';

.incbooks-table-container {
    background-color: $white;
    border-radius: 14px;
    padding: 37px 32px;

    @include respond-to("small") {
        padding: 30px 25px;
    }
}

.incbooks-data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 14px;
    margin-top: 35px;

    thead {
        th {
            background-color: $very-light-gray-header;
            color: $text-lighter-black-color;
            font-weight: bold;
            text-align: left;
            padding: 12px 15px;

            &:first-child {
                border-top-left-radius: 14px;
                border-bottom-left-radius: 14px;
            }

            &:last-child {
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
            }

            &.center {
                text-align: center;
            }
        }
    }

    tbody {
        td {
            color: $text-black-color;
            font-size: 14px;
            padding: 20px 15px;
            border-bottom: 1px solid #e0e0e0;
            background-color: $white;
            
            &.center {
                text-align: center;
            }
        }

        tr {
            &:hover {
                background-color: $very-light-gray;
            }
        }
    }
}

.status {
    width: 93px;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 14px;
    color: $white;
    font-weight: bold;
    text-align: center;

    &.Delivered {
        background-color: $green;
    }

    &.Pending {
        background-color: $yellow;
        color: $white; // Ensure text is readable on yellow
    }
}
