
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

// Spalvų paletė
$primary-color: #4880FF;
$background-color: #f5f6fa;
$text-black-color: #202224;
$text-lighter-black-color:#37393a;
$text-dark-gray: #404040;
$text-lighter-gray:#565656;
$text-gray-color: #8a8c8f;
$text-gray-color2: #bfc0c2;
$status-backgroud-orange:#FFC05F;
$status-text-orange:#855c20;
$status-backgroud-red:#F27F72;
$status-text-red:#99291f;

$border-gray:#e0dcdc;
$very-light-gray: #fcfdfd;
$very-light-gray-header: #f1f4f9;
$hover-light-gray: rgb(247, 247, 247);


$green:#00B69B;
$yellow:#FCBE2D;
$red:#F93C65;
$reset-red: #EA0234;

$white:#FFFFFF;


// Font kintamieji
$primary-font: "Nunito Sans", sans-serif;


// Fontų storio (weights) kintamieji
$font-weight-extraBold: 900;
$font-weight-bold: 700;
$font-weight-semiBold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;


// Šrifto dydžiai
$font-smallest: 0.45rem; // 10px
$font-very-small: 0.6rem; // 12px
$font-small: 0.875rem; // 14px
$font-base: 1rem;      // 16px
$font-medium: 1.25rem;  // 20px
$font-large: 1.5rem;  // 24px
$font-larger: 1.75rem;  // 28px
$font-extra-large: 2rem;  // 32px
$font-extra-large34: 2.25rem;// 34px
$font-extra-large36: 2.5rem;// 36px
$font-extra-large38: 2.75rem;// 38px

// Tarpai ir paddingai
$spacing-small: 12px;
$spacing-base: 16px;
$spacing-large: 24px;
