
@import './base/reset';
@import './base/typography';

@import './layout/header';
@import './layout/MainLayout';
@import './layout/sidebar';
@import './layout/dashborad';
@import './layout/popups';
@import './layout/member-page';

@import './themes/mixins';
@import './themes/variables';

@import './components/searchBar';
@import './components/profile';
@import './components/statsMini';
@import './components/lineChart';
@import './components/dataTable';
@import './components/incomingBooksDataTable';
@import './components/overdueBooksFilter';
@import './components/customDataPicker';
@import './components/detailsBtn';
@import './components/bookFilter';

@import './components/custom/customCategoryPicker';
@import './components/custom/customYearPicker';

@import './components/popops/bookDetailsPopup';
@import './components/popops/memberDetailsPopup';
@import './components/popops/overdueBookDetailsPopup';

body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

