@import './base/reset';
@import './base/typography';

@import './layout/header';
@import './layout/MainLayout';
@import './layout/sidebar';
@import './layout/dashborad';

@import './themes/mixins';
@import './themes/variables';

@import './components/searchBar';
@import './components/profile';
@import './components/statsMini';
@import './components/lineChart';
@import './components/dataTable';


body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

